@import 'bulma/css/bulma.css';
@import '../../styles/vars.scss';

.user-list {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
  justify-items: center;
  align-items: center;

  margin: 0 auto;

  width: 680px;
  height: 725px;
  padding: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: white;

  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0,0,0,0.25), 0 0 15px rgba(0,0,0,0.22);

  &__item {
    height: 40px;
    width: 300px;

    border: 1px solid white;
    border-radius: 3px;

    margin: 10px 0;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
