.wrapper {
  background-color: #e1e7ed;
}

.nav {
  background-color: #333333;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    width: 150px;
    color: #e1e7ed;
    background-color: #333333;
    border: none;
    font-size: 15px;
    cursor: pointer;

    transition: transform 0.3s;
  }

  &__link:hover {
    transform: scale(1.2);
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__input {
    height: 40px;
    width: 300px;

    outline: none;
    border: 1px solid white;
    border-radius: 3px;

    background-color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s;
    margin-bottom: 15px;
  }

  &__input:hover, :focus, :active {
    width: 320px;
  }

  &__btn {
    height: 40px;
    width: 200px;
    border: 1px solid #333333;
    border-radius: 3px;

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: 0.3s;

    cursor: pointer;
  }

  &__btn:hover {
    width: 300px;
    background-color: #333333;
    color: white;
  }
}